.contact {
  height: 100vh;
  width: 100%;
  /* border: 1px solid black; */
  background-color: rgb(226, 231, 238);
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
  flex-direction: column;
}
.contact h1 {
  margin: 2% 0 2% 0;
  color: rgb(15, 71, 108);
}
.contact span {
  color: rgb(244, 119, 20);
}

.contact img {
  /* border: 1px solid black; */
  width: 4%;

  margin: 5% 1% 0 0;
  color: rgb(15, 71, 108);
  /* background-color: rgb(244,119,20); */
}
.container-contact {
  display: flex;
  justify-content: space-between;
  height: 50%;
  width: 60%;
  /* margin-top: 8%; */
  /* border: 1px solid black; */
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 2px 5px 2px rgb(181, 183, 184);
}
.picture {
  /* border: 1px solid black; */
  width: 50%;
  padding-left: 10%;
  /* border-right: 1px solid rgb(149, 146, 146); */
  display: flex;
  justify-content: center;
  align-items: center;
}
.picture img {
  width: 85%;
  height: auto;
  object-fit: cover;
  /* border: 1px solid black; */
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 30%;
  margin: 0 auto;
  padding-top: 2%;
}
form input {
  padding: 0.75rem;
  width: 100%;
  background-color: rgb(220, 222, 222);
  border-radius: 5px;
  border-color: rgb(245, 252, 252);
  outline: none;
  font-size: 1rem;
}
form textarea {
  padding: 0.75rem;
  width: 100%;
  background-color: rgb(220, 222, 222);
  border-radius: 5px;
  border-color: rgb(245, 252, 252);
  outline: none;
  font-size: 1rem;
}
form .submit {
  background-color: rgb(8, 59, 86);
  color: white;
  width: 50%;
  cursor: pointer;
  border-radius: 5px;
}

/*-------------------DESKTOP AND LAPTOPS----------------------------------------------- */
@media (min-width: 1024px) {
}
/*-------------------TABLETS----------------------------------------------- */
@media (max-width: 1024px) and (min-width: 769px) {
    .container-contact {
        height: auto;
        flex-direction: column;
        align-items: center;
      }
      .picture {
        width: 80%;
        height: auto;
    
        padding: 0;
      }
      form {
        width: 80%;
        margin: 5% auto;
      }
      form input {
        margin: 3% 0;
      }
      form .submit {
        margin-top: 5%;
      }
}

/* -------------------MOBILE PHONES---------------------------------------------------- */
@media (max-width: 768px) {
  /*for high resolution mobile*/
  .container-contact {
    height: auto;
    flex-direction: column;
    align-items: center;
  }
  .picture {
    width: 80%;
    height: auto;

    padding: 0;
  }
  form {
    width: 80%;
    margin: 5% auto;
  }
  form input {
    margin: 3% 0;
  }
  form .submit {
    margin-top: 5%;
  }
}
@media (max-width: 468px) {
  /*for low resolution mobile*/
  .container-contact {
    height: auto;
    flex-direction: column;
    align-items: center;
  }
  .picture {
    width: 80%;
    height: auto;

    padding: 0;
  }
  form {
    width: 80%;
    margin: 5% auto;
  }
  form input {
    margin: 3% 0;
  }
  form .submit {
    margin-top: 5%;
  }
}
